* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-bottom {
  background-image: url("./static/h1_hero1.webp");
  background-repeat: no-repeat;
  background-size: 100%;
}

.video-player {
  background: url("./static/video-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 40rem;
}

.gallery-imgs > * {
  width: 20%;
}

.custom-nav:hover {
  color: yellow !important;
}

.custom-nav {
  font-size: 18px;
}

.custom-hero-title {
  font-size: 3vw;
}

.custom-hero-btn {
  background-image: linear-gradient(180deg, #0a2a5d, #0a0d24);
}

.hero-car-img {
  max-width: 100%;
}

.text-dark-blue {
  color: #0a2b5e;
}

.bg-dark-blue {
  background-color: #0a2b5e;
}

.text-lavender {
  color: #9ca9fc;
}

.navbar-nav > .nav-item > a:hover {
  color: red;
}

.text-raven {
  color: #707297;
}

.underline-yellow {
  border-bottom: 8px solid yellow;
}

.hero-description {
  font-size: 20px;
}

.footer-custom {
  background-image: linear-gradient(150deg, #0a2a5d, #0a0d24);
}

.events-heading {
  font-size: 1rem;
}

.events-heading-large {
  font-size: 3vw;
}

.bg-lavender {
  background-color: #929cda;
}

.ceo-heading {
  font-size: 5vw;
}

.ceo-description {
  line-height: 1.5;
  font-size: 20px;
}

.founder-img {
  width: 100px;
}

.video-heading {
  font-size: 3.5vw;
}

.footer-description {
  font-size: 20px;
}

.footer-list-heading {
  font-size: 1.5rem;
}

.footer-list-item {
  line-height: 2rem;
  font-size: 20px;
}

.events-date-range {
  background-color: #f6f6fd;
  border-radius: 20px;
}
